@import url("header.css");
@import url("welcome.css");
@import url("about.css");
@import url("service.css");
@import url("prices.css");
@import url("contacts.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/inter-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/inter-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-regular - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inika-v21-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/inika-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inika-v21-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/inika-v21-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter";
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  background: #f5f5f5;
}

.wrapper {
  margin: 0 auto;
  max-width: 1222px;
}

@media screen and (max-width: 1439px) {
  .service-item {
    margin: 0 20px 0 0;
  }

}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1180px;
  }

  .header {
    max-width: 1280px;
    padding: 0 109px 0 109px;
  }

  /*welcome section*/
  .welcome {
    max-width: 1280px;
  }

  .welcome-leafs {
    max-width: 280px;
    height: 254.15px;
  }

  .welcome-title {
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 50px;
  }

  .welcome-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    margin-top: 30px;
  }

  .welcome-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0 70px 2px;
    align-items: flex-start;
    justify-content: space-around;
  }

  .welcome-discription {
    width: 346px;
    height: 310px;
    margin-top: 0;
  }

  .welcome-text {
    margin-top: 0;
  }

  .welcome-button {
    margin-top: 36px;
  }

  /********************/
  /*about section*/
  .about {
    max-width: 1280px;
    padding: 0 0 95px 0;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;

  }

  .about-title {
    max-width: 423px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 46px;
    font-style: normal;
    text-align: center;
    margin-left: 122px;
  }

  .about-discription {
    max-width: 668px;

  }

  .about-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
  }

  .about-pic {
    max-width: 250px;
    height: 258px;
    margin-top: 52px;
  }

  /**********************/

  /*service section*/
  .service {
    max-width: 1280px;
    padding: 36px 60px 65px 109px;
  }

  .service-wrapper-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .service-title {
    font-size: 2.1875rem;
    line-height: 46px;
  }

  .service-button {
    margin-top: 43px;
  }

  .service-item {
    max-width: 281px;
    margin: 0 20px 38px 0;
  }

  .service-list {
    margin-top: 179px;
  }

  .service-discription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    max-width: 201px;
    text-align: center;
    margin: 9px auto;
  }

  /*price section*/
  .text-call-title {
    font-size: 2.1875rem;
    line-height: 46px;
  }

  /*********************/

  /*contacts section*/
  .contacts {
    max-width: 1280px;
    padding: 0;
  }

  .contacts-wrapper {
    display: flex;
    padding: 41px 0 0 0;
    flex-direction: column-reverse;
    align-items: center;
  }

  .contacts-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;

  }

  .contacts-title {
    font-size: 2.5rem;
    line-height: 52px;
    margin: 0 68px 9px 65px;
    text-align: center;
  }

  .contacts-select {
    margin-bottom: 251px;
  }

  .contacts-pic {
    max-width: 200px;
    margin: 0 auto;
  }

  /***************************/

  /******************************/
  /*footer*/
  .footer-data {
    margin-right: 200px;
  }

  .footer-link {
    margin-right: 200px;
  }

}

@media screen and (max-width: 1051px) {
  .service-item {
    max-width: 281px;
    margin: 0 105px 38px 0;
  }

  .service-list {
    margin-top: 179px;
  }

  .service-item:nth-child(2),
  :nth-child(6) {
    margin-right: 0;
  }

  .service-item:nth-child(3) {
    margin: 0 105px 0 0;
  }

  .service-item:nth-child(4),
  :nth-child(6) {
    margin-right: 0;
  }

  .service-item-pic {
    width: 100%;
    height: 78%;
  }

}

@media screen and (max-width: 835px) {
  .service {
    max-width: 835px;
    padding: 62px 0 32px 0;
  }

  .wrapper {
    max-width: 668px;
  }

  .service-item {
    max-width: 281px;
    margin: 0 105px 38px 0;
  }

  .service-list {
    margin-top: 179px;
  }

  .service-item:nth-child(2),
  :nth-child(6) {
    margin-right: 0;
  }

  .service-item:nth-child(3) {
    margin: 0 105px 0 0;
  }

  .service-item:nth-child(4),
  :nth-child(6) {
    margin-right: 0;
  }

  .service-item-pic {
    width: 100%;
    height: 78%;
  }

}

@media screen and (max-width: 768px) {

  /*header*/
  .header {
    max-width: 768px;
    padding: 0;
  }

  .header-wrapper {
    padding: 35px 0 53px 0;
  }

  /***********************/

  /*welcome section*/
  .wrapper {
    max-width: 668px;
  }

  .welcome {
    max-width: 768px;
    padding: 0;
  }

  .welcome-leafs {
    max-width: 280px;
  }

  .welcome-title {
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 50px;
  }

  .welcome-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    margin-top: 30px;
  }

  .welcome-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 19px 0 70px 0;
    background-color: #edf2ec;
    align-items: flex-start;
  }

  .welcome-discription {
    margin-right: 33px;

  }

  .welcome-button {
    margin-top: 36px;
  }

  /**********************/

  /*about section*/
  .about {
    max-width: 768px;
    padding: 0 0 95px 0;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;

  }

  .about-title {
    font-size: 2.1875rem;
    line-height: 46px;
    margin: 0 auto;
  }

  .about-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .about-pic {
    max-width: 250px;
  }

  /**************************/

  /*service section*/
  .service {
    max-width: 768px;
    padding: 62px 0 32px 0;
  }

  .service-wrapper-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .service-title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 46px;
  }

  .service-button {
    margin-top: 43px;
  }

  .service-item {
    max-width: 281px;
    margin: 0 105px 38px 0;
  }

  .service-list {
    margin-top: 179px;
  }

  .service-item:nth-child(2),
  :nth-child(6) {
    margin-right: 0;
  }

  .service-item:nth-child(3) {
    margin: 0 105px 0 0;
  }

  .service-item:nth-child(4),
  :nth-child(6) {
    margin-right: 0;
  }

  .service-item-pic {
    width: 100%;

  }

  .service-discription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    max-width: 201px;
    text-align: center;
    margin: 9px auto;
  }

  /**************************/

  /*price section*/
  .prices {
    max-width: 768px;
    padding: 40px 0 90px 0;
  }

  .prices-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 42px;
    color: #000000;
    margin: 0 0 60px 15px;
  }

  .text-call-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 35px;
    text-align: right;
    color: #000000;
    margin: 100px 0 28px 0;
  }

  /**************************/

  /*contacts section*/
  .contacts {
    max-width: 768px;
    padding: 0;
  }

  .contacts-wrapper {
    display: flex;
    padding: 41px 0 0 0;
    flex-direction: column-reverse;
    align-items: center;
  }

  .contacts-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;

  }

  .contacts-title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 52px;
    margin: 0 68px 9px 65px;
    text-align: center;
  }

  .contacts-select {
    margin-bottom: 251px;
  }

  .contacts-pic {
    max-width: 200px;
    margin: 0 auto 0 244px;
  }

  /**************************/

  /*footer*/
  .footer {
    max-width: 768px;
    padding: 0;
  }

  .footer-wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 29px 0 40px 0;
  }

  .footer-data {
    margin: 0 0 5px 0;
  }

  .footer-link {
    margin: 0 0 18px 0;
  }
}

@media screen and (max-width:600px) {
  .header {
    max-width: 600px;
  }

  .header-item {
    margin-right: 27px;
  }

  .wrapper {
    max-width: 450px;
  }

  .header-wrapper {
    align-items: center;
  }

  .welcome-leafs {
    display: none;
  }

  .service-list {
    max-width: 281px;
    margin: 270px auto 0 auto;
    align-items: center;
  }

  .service-item:nth-child(1),
  :nth-child(5) {
    margin: 0 auto 33px auto;
  }

  .service-item:nth-child(3) {
    margin: 0 auto 33px auto;
  }

  .prices-wrapper {
    display: block;
    align-items: center;
    margin: 0 auto;

  }

  .prices-pic {
    display: none;
  }

  .prices-title {
    font-size: 1.563rem;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 37px auto;
  }

  .prices-list {
    max-width: 224px;
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    padding: 28px 22px;
    margin: 0 auto;
  }

  .prices-container {
    width: 180px;
    padding: 15px 41px 15px 30px;
    margin: 0 auto 14px auto;
  }

  .text-call-title {
    max-width: 250px;
    font-size: 1.25rem;
    line-height: 35px;
    text-align: center;
    margin: 20px auto 19px auto;
  }

  .prices-label {
    font-size: 0.938rem;
    line-height: 20px;
  }

  .btn-contact {
    width: 121px;
    height: 35px;
    font-size: 0.938rem;
    line-height: 20px;
    margin: 0 auto;
  }

  .prices-text-call {
    max-width: 100%;
  }

  .contacts-pic {
    max-width: 200px;
    margin: 0 auto;
  }

  .contacts {
    margin: 0;
  }

  .contacts-select {
    max-width: 300px;
    margin: 0 auto 251px auto;
  }

  .contacts-color {
    margin-right: 205px;
  }

}

@media screen and (max-width:400px) {
  .header {
    max-width: 400px;
  }

  .wrapper {
    max-width: 381px;
  }

  .service-title {
    font-size: 1.563rem;
    line-height: 33px;
    margin-bottom: 37px;
  }

  .service-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .service-button {
    margin: 0 11px 10px 0;
    width: 120px;
    height: 34px;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 20px;
  }

  .service-item {
    max-width: 281px;
    margin: 0 auto;
  }

  .service-list {
    margin-top: 177px;
  }

}

@media screen and (max-width: 380px) {

  /*header*/
  .header {
    max-width: 380px;
    padding: 0;
  }

  .header-wrapper {
    padding: 35px 0 53px 0;
  }

  .wrapper {
    max-width: 335px;
  }


  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 31px;
    left: 294px;
    z-index: 1;
    width: 80px;
    height: 80px;
    padding: 1.25rem;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: rgba(113, 113, 113, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s 0.4s ease;
    margin-bottom: 6px;
  }

  .menu-wrap .hamburger>span {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: rgba(113, 113, 113, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s 0.4s ease;
    margin-bottom: 6px;
  }

  .menu-wrap .hamburger>div::before,
  .menu-wrap .hamburger>div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -17px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .menu-wrap .hamburger>span::before,
  .menu-wrap .hamburger>span::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -17px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .menu-wrap .hamburger:focus>div {
    transform: rotate(135deg);
  }

  .menu-wrap .hamburger:focus>span {
    display: none;
  }


  .menu-wrap .hamburger:focus>div:before,
  .menu-wrap .hamburger:focus>div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-wrap .hamburger:focus>div {
    transform: rotate(225deg);
  }

  .menu-wrap .hamburger:focus~.menu {
    visibility: visible;
  }

  .menu-wrap .hamburger:focus~.menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
  }

  .menu-wrap .hamburger:focus~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu>div {
    background: rgba(24, 39, 51, 0.95);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;

  }

  .header-list {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .header-link {
    display: block;
    color: rgb(251, 251, 251);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    font-family: 'Inika';
    font-style: normal;
    cursor: pointer;
  }

  .header-link:hover {
    background-color: #fff;
  }

  .header-item:nth-child(5) {
    margin: 0 27px 0 0;
  }

  .header-link:hover {
    background-color: #CFD8DC;
  }

  */
  /***********************/

  /*welcome section*/

  .welcome {
    max-width: 380px;
    padding: 0;
  }

  .welcome-leafs {
    display: none;

  }

  .welcome-title {
    font-size: 1.563rem;
    line-height: 35px;
  }

  .welcome-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    margin-top: 21px;
  }

  .welcome-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    background-color: #edf2ec;
    align-items: flex-start;
  }

  .welcome-discription {
    width: 346px;
    height: 273px;
    margin: 0;
  }

  .welcome-button {
    padding: 4.7px 16.18px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 20px;
  }

  /**********************/

  /*about section*/
  .about {
    max-width: 380px;
    padding: 0;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 0 37px 0;

  }

  .about-title {
    max-width: 360px;
    font-size: 1.563rem;
    line-height: 33px;
    font-style: normal;
    text-align: center;
    margin: 0;

  }

  .about-discription {
    max-width: 100%;
    margin: 0 6px 0 0;
  }

  .about-text {
    font-size: 0.938rem;
    line-height: 25px;
    margin: 12px 0 0 0;
  }

  .about-pic {
    max-width: 150px;
    height: 147px;
    margin-top: 0;
  }

  /**************************/

  /*service section*/
  .service {
    max-width: 380px;
    padding: 30px 0 32px 0;
  }

  .service-wrapper {
    align-items: center;
    display: block;
  }

  .service-title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 33px;
    margin-bottom: 37px;
  }

  .service-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .service-button {
    margin: 0 11px 10px 0;
    width: 120px;
    height: 34px;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 20px;
  }

  .service-item {
    max-width: 281px;
    margin: 0 auto;
  }

  .service-list {
    margin-top: 177px;
  }

  .service-item:nth-child(1) {
    margin: 0 auto 33px auto;
  }

  .service-item:nth-child(2) {
    margin: 0 auto 33px auto;
  }


  .service-item:nth-child(3) {
    margin: 0 auto 37px auto;
  }

  .service-item:nth-child(4),
  :nth-child(5) {
    margin: 0 auto 33px auto;
  }

  /**************************/

  /*price section*/
  .prices {
    max-width: 380px;
    padding: 21px 0 39px 0;
  }

  .prices-wrapper {
    display: block;
    align-items: center;
    margin: 0 auto;
  }

  .prices-title {
    font-size: 1.563rem;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 37px auto;
  }

  .prices-list {
    max-width: 224px;
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    padding: 28px 22px;
    margin: 0 auto;
  }

  .prices-container {
    width: 180px;
    padding: 15px 41px 15px 30px;
    margin: 0 auto 14px auto;
  }

  .text-call-title {
    max-width: 250px;
    font-size: 1.25rem;
    line-height: 35px;
    text-align: center;
    margin: 20px auto 19px auto;
  }

  .prices-label {
    font-size: 0.938rem;
    line-height: 20px;
  }

  .btn-contact {
    width: 121px;
    height: 35px;
    font-size: 0.938rem;
    line-height: 20px;
    margin: 0 auto;
  }

  .prices-pic {
    display: none;
  }

  /**************************/

  /*contacts section*/
  .contacts {
    max-width: 380px;
    padding: 0 0;
    margin: 0;
  }

  .contacts-wrapper {
    display: flex;
    padding: 26px 0 0 0;
    align-items: center;
  }

  .contacts-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    height: 296px;
  }

  .contacts-title {
    font-size: 1.563rem;
    line-height: 33px;
    margin: 0 auto 87px auto;
    text-align: center;
  }

  .contacts-select {
    max-width: 300px;
    height: 50px;
    align-items: center;
    margin-top: 0;
    padding: 0 22px;
  }

  .contacts-color {
    margin-right: 200px;
  }

  .contacts-pic {
    max-width: 100px;
    height: 124.25px;
    margin: 0 auto;
  }

  /**************************/

  /*footer*/
  .footer {
    max-width: 380px;
    padding: 0;
  }

  .footer-wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 17px 0 0 0;
  }

  .footer-data {
    margin: 0 0 5px 0;
  }

  .footer-link {
    margin: 0 0 6px 0;
  }
}

@media screen and (max-width:360px) {

  .menu-wrap .hamburger {
    left: 278px;
  }

  .wrapper {
    max-width: 340px;
  }
}

@media screen and (max-width:340px) {
  .wrapper {
    max-width: 320px;
  }

  .menu-wrap .hamburger {
    left: 265px;
  }
}

@media screen and (max-width:330px) {

  .menu-wrap .hamburger {
    left: 258px;
  }

  .wrapper {
    max-width: 310px;
  }
}

@media screen and (max-width:320px) {
  .wrapper {
    max-width: 310px;
  }

  .menu-wrap .hamburger {
    left: 248px;
  }

  .welcome-button {
    margin-top: 10px;
  }

}