* {
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1920px;
  background-color: #F2F2F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.header {
  background-color: aqua;
  border-radius: 25px;
  padding: 5px;
}

.main {
  background-color: greenyellow;
  border-radius: 25px;
  padding: 5px;
}

.footer {
  background-color: lightcoral;
  border-radius: 25px;
  max-width: 1200px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 75px;

}

.cod {
  list-style-type: none;
  margin-left: 100px;
  margin-right: 100px;
}

.name,
.githab,
.rs {
  padding: 15px;
}

.g,
.r {
  width: 50px;
  height: 25px;
}