.welcome {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 109px 0 109px;
  background-color: #edf2ec;
}

.welcome-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 55px 0;
  background-color: #edf2ec;
}

.welcome-leafs {
  max-width: 448.8px;
  height: 407.36px;
}

.welcome-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.plants-color {
  color: #499a18;
}

.welcome-discription {
  width: 549px;
  height: 340px;
  margin-top: -6px;
}

.welcome-text {
  margin-top: 42px;
}

.welcome-button {
  padding: 10.5px 25.18px;
  border: 2px solid #e06733;
  border-radius: 10px;
  margin-top: 48px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.welcome-button:hover {
  background: #e06733;
  border: 2px solid #e06733;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  transition: 400ms;
  transition-timing-function: ease-in-out;
}